<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <nav>
        <li><a href="/">Main</a></li>
        <li><a href="/gadgets/buttons">buttons</a></li>
        <li><a href="/gadgets/cards">cards</a></li>
        <li><a href="/gadgets/colors">colors</a></li>
        <li><a href="/gadgets/containers">containers</a></li>
        <li><a href="/positionings/forms">forms</a></li>
        <li><a href="/positionings/grids">grids</a></li>
        <li><a href="/positionings/standards">standards</a></li>
        <li><a href="/positionings/tables">tables</a></li>
    </nav>
    
</body>
</html>