{% extends "main_template.html" %}
{% block head_name %}
<title>parameters_query</title>
{% endblock %}
{% block main_container %}
<div>
    <h2>formaction tag with method POST</h2> <!-- POST는 웹서버를 중간에 꼭 끼워야 작동 함 -->
    <div>
        <h3>link card form without parameters</h3>
        <form action="" method="post"> <!--버튼 - 같은 method-->
            <button class="btn btn-primary" formaction="/gadgets/cards">card</button>
            <button class="btn btn-primary" formaction="colors.html">color</button>
        </form>
        <h3>link card form with parameters</h3>
        <form action="" method=""> <!--버튼 - 다른 method-->
            <input class="form-control" type="text" name="name" value="jisu" >
            <input class="form-control" type="text" name="email" value="ohjisu320@gmail.com" >
            <button class="btn btn-primary" formaction="/gadgets/cards" formmethod="get">
                card with method GET
            </button>
            <button class="btn btn-primary" formaction="/gadgets/cards" formmethod="post">
                card with method POST 
            </button>
            <button class="btn btn-primary" formaction="colors.html" formmethod="post">
                color with method POST 
            </button>

        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer class="container">footer</footer>
{% endblock %}